<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Spring Framework 1</title>

   <link href="http://cdn.dsdelivr.net/webjars/bootstrap/3.3.4/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
      rel="stylesheet" media="screen"/>
   <script href="http://cdn.dsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
           th:href="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

   <link href="../static/css/spring-core.css"
         th:href="@{css/spring-core.css}"
         rel="stylesheet" media="screen"/>
</head>
<body>
   <div class="container">
      <h1>Spring Framework 4 에 오신 것을 환영합니다.</h1>
      <h2>이것은 Thymeleaf Index 페이지 입니다.</h2>
   </div>
</body>
</html>