<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>상품등록</title>

   <link href="http://cdn.dsdelivr.net/webjars/bootstrap/3.3.4/bootstrap.min.css"
         th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
         rel="stylesheet" media="screen"/>
   <script href="http://cdn.dsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
           th:href="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

   <link href="../static/css/spring-core.css"
         th:href="@{css/spring-core.css}"
         rel="stylesheet" media="screen"/>

</head>
<body>

   <div class="container">
      <h2 id="pageTitle">상품 등록</h2>
      <div>
         <!--th:object 를 사용하면 . 을 통하여 속성에 접근하지 않고 th:field 를 사용하여 접근 가능 -->
         <form class="horizontal" th:object="${product}" th:action="@{/product}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
               <label class="col-sm-2 control-label">상품 설명</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" th:field="*{description}">
               </div>
            </div>
            <div class="form-group">
               <label class="col-sm-2 control-label">상품 가격</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" th:field="*{price}">
               </div>
            </div>
            <div class="form-group">
               <label class="col-sm-2 control-label">이미지 경로</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" th:field="*{imageUrl}">
               </div>
            </div>
            <div class="row">
               <button class="btn btn-default" type="submit">등록</button>
            </div>
         </form>

      </div>
   </div>

</body>
</html>